.main-title
{
    text-align: center;
}
.lan-bg
{
    background-color: #1f4e83;
    height: 50px;
}
ul
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    background-color: #1f4e83;
    color: white;
}
ul:hover
{
    background-color: white;
    color: #1f4e83;
}
ul > li
{

    display: none;
    border: solid 2px #1f4e83;
    list-style-type: none;
    background-color: white;
    color: black;
}
/*.menu-bar
{
    background-color: #1f4e83;
    min-width: 1200px;
}
.menu-bar > .menu-item
{
    display: inline-block;
}
.menu-bar > .menu-item > a
{
    color: white;
}
.menu-bar > .menu-item > ul
{
    color: white;
    list-style: none;
    padding: 0px;
}
*/