/* 双页资料库,目录式 */
.app
{
display: inline-flex;
}
.app > .left
{
    width: auto;
    border: solid 2px red;
}
.app > .left > ol
{
    text-decoration: underline;
    text-decoration-color: aqua;
}
.app > .left > ol:hover
{
    cursor: pointer;
}
.app > .left > ol > li:hover
{
    color: aqua;
    cursor: pointer;
}

.app > .right
{
    
    border: solid 2px red;
}